

.video1{
    display: flex;
    width: 420px;
    height: 230px;
}

.box_first{
    p{
        margin:30px;
    }
    background-color:antiquewhite;  
 display: flex;
 flex-wrap: wrap;
 overflow: hidden;

   
 .container_first{
    width: 100%;
    
    
    h5{
        display: flex;
        font-size: 15px;
        text-align: center;
        padding: 8%;
    }
    
}

}

.logos{
    flex-wrap: wrap;
    display:flex;
    padding: 10px;
    max-width: 100%;
    align-items: center;
    justify-content:space-evenly;
    image-orientation: flip;
    

    img{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        object-fit: cover;
        flex-direction: row;
        width: 80%;
       margin-left: 10px;
       margin-right: 20px;
        
        
        
    }
}

.container_second{
    display: flex;
  flex-direction: column;
  overflow: hidden;
}



.cont_equipo2{
    
    display:flex;
    flex-direction: column; 
    a{
        color:blue;
        margin: 15px;
    } 

    h2{
        margin: 20px;
    }
}

.video2{
    display: flex;
    justify-content: center;
    width: 280px;
    height: 230px;
}


.cont_equipo3{
    
    display:flex;
    flex-direction: column;
    a{
        color:blue;
        margin: 15px;
    } 

    h2{
        margin: 20px;
    }
   
}

.video3{
    display: flex;
    justify-content: center;
    width: 520px;
    height: 230px;
}


.cont_equipo4{
    
    display:flex;
    flex-direction: column;
    a{
        color:blue;
        margin: 15px;

    } 

    h2{
        margin: 20px;
    }
}

.video4{
    display: flex;
    justify-content: center;
    width: 280px;
    height: 230px;
}

.box_second{
    display: flex;
 flex-wrap: wrap;
 

 .container2_first{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    h2{
        padding: 30px;
        margin: auto;
        font-size: 30px; 
        text-align: center;
       
    }
    p{
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        padding: 10px;

    }
  }
}

.button_empresa{
    display: flex;
    justify-content: center;
    height: 20px;
    background: #611f69;
    padding: 10px;
    text-align:center;
    border-radius: 3px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 30px;
    width: 300px;
    
    a{
        color: #ffffff;
    }
  }

.button_equipo{
    display: flex;
    justify-content: center;
    height: 20px;
    background: #ffffff;
    padding: 10px;
    text-align:center;
    border-radius: 3px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 30px;
    width: 300px;
    border-color: #611f69;
    border-style: solid;
    margin-top: 5px;
    border-width: 1px;
    a{
        color: #611f69;
    }
  }

  .cont2_first{
    display: flex;
    flex-direction: column;
    width: 100%;
    h2{
        padding: 30px;   
        margin: 0 auto;
        font-size: 30px; 
        text-align: center;
        color: #611f69;
       
    }
    p{
        text-align: center;
        margin-left: 110px;
        margin-right:110px;
        font-size: 15px;        
    }
}

.videoYT{
    
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 360px;
    margin-bottom: 80px;
   
}

.videobord{
    
    border-bottom-right-radius:50%;
    border-top-right-radius: 50%;   
   
}

.cont2_second{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.box_third{
    display: flex;
    background: antiquewhite;
    padding: 10%;
    flex-wrap: wrap;
}

.box_title3{
    
    display: flex;
    text-align: center;

 
}


.box_img{
    overflow: hidden;
    flex-direction: column;
    display: flex;
    padding: 5%;
    
    background: #ffffff;   
    align-items: stretch;
    margin-top:30px ;

h3{
    display: flex;

    
}

    p{
        color:rgb(157, 163, 163);
        margin-top: 20px;
        margin-bottom: 10px;
    }

a{
    color:blue;
    margin-top:50px;
}

}

.imgpoint{
    display: flex;
    margin-left: 90px;
    margin-top:40px ;
}

.box_fourth{
    overflow: hidden;
background: #611f69;
display: flex;
flex-direction: column;
align-content: stretch;
align-items: stretch;
border-bottom-left-radius: 70%;
border-bottom-right-radius: 70%;
overflow:hidden;



h2{
    justify-content: center;
    color:#ffffff;
    display: flex;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 10px;
    
}

}

.button_ios{
    display: flex;
    justify-content: center;
    height: 20px;
    background: #ffffff;
    padding: 10px;
    text-align:center;
    border-radius: 3px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 30px;
    width: 300px;
    border-color: #611f69;
    border-style: solid;
    margin-top: 5px;
    border-width: 1px;
    a{
        color: #611f69;
        
    }
  }

  .button_ventas{
    display: flex;
    justify-content: center;
    height: 20px;
    background: #611f69;
    padding: 10px;
    text-align:center;
    border-radius: 3px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 30px;
    margin-bottom: 80px;
    width: 300px;
    border-color: #ffffff;
    border-style: solid;
    margin-top: 5px;
    border-width: 1px;
    a{
        color: #ffffff;
    }
  }